@use 'src/styles/variables' as *;

.user_info {
  background-color: $color-light-sea-green;
  padding: 0 15px 15px;
}

.user_info__contacts,
.user_info__skills {
  margin-bottom: 3rem;
}

.user_info__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 15px;
  padding: 0;
  margin: 0;
  list-style: none;
}

h2 {
  font-size: clamp(2rem, 3vw, 3.2rem);
  font-weight: 500;
  margin: 0 0 2rem;
  text-align: center;
  color: $color-black-pearl;
}
