@use 'src/styles/variables' as *;

.header {
display: grid;
grid-template-columns: 36.5% 1fr;
background-color: $color-white-smoke;
}

.header__content {
  width: 100%;
}

.header__avatar img {
  width: 100%;
  height: 100%;
}

.header__border {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 50px;
  background-color: $color-white-smoke;
  transform: skew(45deg) translateX(-25px);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: $color-black-pearl;
    right: 0;
    top: 0;
    transform: skewX(-45deg) translateX(25px);
  }


}


[id="first"] {
  width: 75%;
  height: inherit;
  background-color: $color-black-pearl;
  border-radius: 5px 0 0 5px;
  margin-left: 20px;
  position: relative;

}

[id="second"] {
  width: 10%;
  height: inherit;
  background-color: $color-eastern-blue;
  margin-left: 20px;
  border-radius: 5px;
}

[id="third"] {
  width: 7%;
  height: inherit;
  background-color: $color-light-sea-green;
  border-radius: 5px;
}

.header__title {
  font-size: clamp(3.6rem, 4.5vw, 6rem);
  line-height: 150%;
  color: $color-eastern-blue;
  margin: 0;
  padding: 0 0 0 25%;
}

.header__list {
  margin: 0;
  padding: 0 0 0 25%;
  list-style: circle;

  & li {
    font-size: clamp(2.4rem, 3vw, 3.6rem );
    line-height: 150%;
    color: $color-eastern-blue;
  }
}
