@use 'src/styles/mixins' as *;
@use 'src/styles/variables' as *;

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 65px;

  @include vp-767 {
    min-width: 320px;
    padding: 0 clamp(1rem, 3vw, 6rem);
    // background-color: $color-white-smoke;
  }
}
